.navBar{
    z-index: 999999;
    transition: all 200ms linear;
    padding: 20px 1rem;
    background-color: var(--back-color);
    border-color: transparent;
    
}
.moon{
    display: none;
    width: 32px;
    height: 32px;
}
.light-mode .navBar{
    background-color: white;
}
.light-mode .navBrand {
    color: rgba(0, 0, 0, .9);
    transition: transform 200ms ease;
}
.light-mode .navBrand svg{
    fill: rgba(0, 0, 0, .9);
}
.light-mode .navBrand:hover h1{
    color: var(--text-hover-color);
}
.light-mode .navBrand:hover svg{
    fill: var(--text-hover-color);   
}

.light-mode .navBar .container  ul li a{
    color: rgba(0, 0, 0, .5);
}
.light-mode .navBar .container  ul li a:hover{
    color: var(--text-hover-color);
}
.light-mode .navBar .container .theme button,.light-mode .navBar .container .theme svg{
    color: #212529;
}
.light-mode .sun{
    display: none;
}
.light-mode .moon{
    display: block;
}
.navBrand h1{
    margin-bottom: 0;
}
.navBrand:hover h1{
    color: var(--text-hover-color);
}
.navBrand:hover svg{
    fill: var(--text-hover-color);
}
.navBar .container{
    padding-left: 0 !important;
}

.container ul li{
    cursor: pointer;
    transition: all 0.3s ease;
}    
.container ul li span{
    display: inline-block;
    transition: transform 0.3s ease;
    position: relative;
}
.container ul li a{
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.8);
}
.container ul li a:hover{
    color: var(--text-hover-color);
}
.theme button{
    color: white;
}
.showForMob{
    display: none;
}
@media (max-width: 629px) {
    .hideForMob{
        display: none !important;
    }
    .showForMob{
        display: block !important;
    }
    .navBar{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem 1rem;
    }
    .navBar .container{
        justify-content: space-between ;
        align-items: end;
    }
    
}
@media (max-width: 991px) {
    .hideThemeChanger{
        display: none !important;
    }
}